pipeline/groupByCustomer.json
{
	"name": "groupByCustomer",
	"properties": {
		"activities": [
			{
				"name": "GroupBy Customer",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "01:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow1",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Power Query1",
				"type": "ExecuteWranglingDataflow",
				"dependsOn": [
					{
						"activity": "GroupBy Customer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"sinks": {
						"UserQuery": {
							"name": "Sinkoutput",
							"dataset": {
								"referenceName": "output",
								"type": "DatasetReference"
							},
							"script": "sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tcustomerID as string,\n\t\tGenre as string,\n\t\tAge as string,\n\t\taddress as string,\n\t\teffectiveDate as string\n\t),\n\tpartitionFileNames:['powerqueryoutput.csv'],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tpartitionBy('hash', 1)) ~> Sinkoutput"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GroupBy Customer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "logs",
					"value": {
						"value": "@activity('GroupBy Customer').output.runStatus.metrics.outputsink.rowsWritten",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"logs": {
				"type": "String"
			}
		},
		"annotations": []
	}
}