pipeline/landed_check.json
{
    "name": "landed_check",
    "properties": {
        "activities": [
            {
                "name": "Until1",
                "type": "Until",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@activity('Get Metadata1').output.exists",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Get Metadata1",
                            "type": "GetMetadata",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "landedCustomer",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "folderPartition": {
                                            "value": "@pipeline().parameters.partition",
                                            "type": "Expression"
                                        },
                                        "subfolder": {
                                            "value": "@pipeline().parameters.subfolder_path",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "fieldList": [
                                    "exists"
                                ],
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            }
                        },
                        {
                            "name": "If Condition1",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "Get Metadata1",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@activity('Get Metadata1').output.exists",
                                    "type": "Expression"
                                },
                                "ifFalseActivities": [
                                    {
                                        "name": "Wait1",
                                        "type": "Wait",
                                        "dependsOn": [],
                                        "userProperties": [],
                                        "typeProperties": {
                                            "waitTimeInSeconds": 60
                                        }
                                    }
                                ]
                            }
                        }
                    ],
                    "timeout": "7.00:00:00"
                }
            }
        ],
        "parameters": {
            "partition": {
                "type": "string"
            },
            "subfolder_path": {
                "type": "string"
            }
        },
        "folder": {
            "name": "Helpers"
        },
        "annotations": [],
        "lastPublishTime": "2021-07-04T14:49:18Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}