adf12345DXC/PartialArmTemplates/ArmTemplate_7_5_2021_18_28_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf12345DXC"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/landing2landed')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1_copy1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Json1",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1_copy1').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@startsWith(pipeline().parameters.fileName, item().SourceFilename)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Copy data to specific subfolder",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "DestinationFolder",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "landing",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "landedCustomer",
														"type": "DatasetReference",
														"parameters": {
															"folderPartition": {
																"value": "@variables('ingest_date')",
																"type": "Expression"
															},
															"subfolder": {
																"value": "@json(variables('table')).DestinationFolder",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "ingest date",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "ingest_date",
													"value": {
														"value": "@formatDateTime(utcnow(),'yyyyMMdd')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "DestinationFolder",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "parse json",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"variableName": "DestinationFolder",
													"value": {
														"value": "@json(variables('table')).DestinationFolder",
														"type": "Expression"
													}
												}
											},
											{
												"name": "parse json",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "ingest date",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"variableName": "table",
													"value": {
														"value": "@string(item())",
														"type": "Expression"
													}
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"parameters": {
					"fileName": {
						"type": "string"
					},
					"env ": {
						"type": "string",
						"defaultValue": "dev "
					}
				},
				"variables": {
					"ingest_date": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"arra": {
						"type": "Array"
					},
					"newvar": {
						"type": "String"
					},
					"DestinationFolder": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-07-04T14:51:14Z"
			},
			"dependsOn": []
		}
	]
}